@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url("../Fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SF Pro Display Bold";
  font-display: swap;
  src: url("../Fonts/SFPRODISPLAYBOLD.OTF");
}
